# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
# import gmaps
import gmaps.datasets

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
TemperatureData = pd.read_csv("citydata.csv")
TemperatureData.head()

,Unnamed: 0,City,Country,Lat,Lng,Time,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,São Filipe,CV,14.90,-24.50,1586626009,77.70,69,10,11.54
1,1,Jamestown,US,42.10,-79.24,1586625840,45.00,55,40,9.17
2,2,Lensk,RU,60.73,114.93,1586626030,32.99,87,99,7.78
3,3,Lagos,NG,6.58,3.75,1586625881,89.60,70,20,8.05
4,4,Papetoai,PF,-17.50,-149.87,1586626030,80.60,78,75,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

fig = gmaps.figure(center = (20,10), zoom_level = 2)
heatmap_layer = gmaps.heatmap_layer(
    TemperatureData[["Lat","Lng"]], weights = TemperatureData["Humidity"], dissipating = False,
    max_intensity=100, point_radius=1.5)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
hotel_df = TemperatureData[  (TemperatureData['Max Temp'] > 80)
                     & (TemperatureData['Wind Speed'] < 10)
                     & (TemperatureData['Cloudiness'] < 3)
]
hotel_df

,Unnamed: 0,City,Country,Lat,Lng,Time,Max Temp,Humidity,Cloudiness,Wind Speed
177,177,Karratha,AU,-20.74,116.85,1586625927,81.86,57,0,9.73
195,195,Adrar,MR,20.50,-10.07,1586625742,96.03,9,0,6.55
215,215,Kavaratti,IN,10.57,72.64,1586625546,85.01,68,1,4.03
309,309,Guane,CU,22.20,-84.09,1586626048,90.12,43,0,8.55
351,351,San Lorenzo,PY,-25.33,-57.53,1586626051,82.40,30,0,5.82
360,360,Orán,AR,-23.13,-64.33,1586626052,82.00,53,1,5.26
377,377,Taoudenni,ML,22.68,-3.98,1586626053,100.29,7,0,3.87
432,432,Wani,IN,20.07,78.95,1586626057,88.95,14,0,5.35
443,443,Trincomalee,LK,8.57,81.23,1586626058,81.46,78,1,6.22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:

# Base URL for the call
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in hotel_df.iterrows():
    print(f'Begin of loop Index:{index}')
    row_lat = row["Lat"]
    row_lng = row["Lng"]
    # Set the parameters for the api call
    parameters = {      "key": g_key,                   # API Key
                       "type": "lodging",               # Hotel Type
                     "radius": 5000,                    # 5000 meters
                   "location": f'{row_lat}, {row_lng}',  # Geographical Coordinates for the location
                     "rankBy": "distance"              # Rank by distance
    }
    #Call the API and get the response
    response = requests.get(base_url, params = parameters)
    print(response.url)
    #Get the JSON from the response
    json_response = response.json()
    try:
        hotel_df.loc[index, "Hotel Name"] = json_response["results"][0]["name"]
        hotel_df.loc[index, "Hotel Location"] = json_response["results"][0]["plus_code"]["compound_code"]
        hotel_df.loc[index, "Hotel Lng"] = json_response["results"][0]["geometry"]["location"]["lng"]
        hotel_df.loc[index, "Hotel Lat"] = json_response["results"][0]["geometry"]["location"]["lat"]
    except:
        print(f"\n[Warning] Hotel found not found in the vicinity of {index}:{row['City']}, {row['Country']} >>>> Skipping.\n")

Begin of loop Index:177
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=-20.74%2C+116.85&rankBy=distance
Begin of loop Index:195
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=20.5%2C+-10.07&rankBy=distance

[Warning] Hotel found not found in the vicinity of 195:Adrar, MR >>>> Skipping.

Begin of loop Index:215
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=10.57%2C+72.64&rankBy=distance
Begin of loop Index:309
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=22.2%2C+-84.09&rankBy=distance
Begin of loop Index:351
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=-25.33%2C+-57.53&rankBy=distance
Begin of loop Index:360
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=-23.13%2C+-64.33&rankBy=distance
Begin of loop Index:377
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=22.68%2C+-3.98&rankBy=distance

[Warning] Hotel found not found in the vicinity of 377:Taoudenni, ML >>>> Skipping.

Begin of loop Index:432
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=20.07%2C+78.95&rankBy=distance
Begin of loop Index:443
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDheR99VOctpv4br-dOmBwzbRtbcnLzjCM&type=lodging&radius=5000&location=8.57%2C+81.23&rankBy=distance

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
locations

       Lat     Lng
177 -20.74  116.85
195  20.50  -10.07
215  10.57   72.64
309  22.20  -84.09
351 -25.33  -57.53
360 -23.13  -64.33
377  22.68   -3.98
432  20.07   78.95
443   8.57   81.23

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))